.layer {
   position: absolute;
   top: 0;
   left: 0;
}

.hidden {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.reset_transition {
    transition: none;
}

.conf_options {
    position:absolute;
    top: 0;
}

.conf_options button {
    margin-left: 10px;
    margin-bottom: 10px;
    padding:10px;
    font-size: 16px;
}

.conf_options button.selected {
    border: 2px solid red;
}

.grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.grabbing { 
    cursor: grabbing; 
    cursor: -webkit-grabbing;
}